@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  height: 100vh;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

main {
  margin: 0 auto;
  background-color: #F5F5F5;
  height: 100%;
  width: 500px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: 2rem;
}

.die-face:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.roll-dice-btn {
  display: inline-block;
  height: 50px;
  margin-top: 1rem;
  padding-inline: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.616);
  cursor: pointer;
}

.roll-dice-btn:focus {
  outline: none;
}

.roll-dice-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}


@media (max-width: 45em) {
  main {
    width: 100%;
  }

  .dice-container {
    grid-template: auto auto / repeat(4, 1fr);
  }

  .die-face:nth-child(9) {
    grid-area: 3 / 2;
  }
  .die-face:last-child {
    grid-area: 3 / 3;

  }

}

@media (max-width: 25em) {
  main {
    width: 100%;
  }

  .dice-container {
    grid-template: auto auto / repeat(3, 1fr);
  }
  .die-face:last-child {
    grid-area: 4 / 2;

  }

}
